<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    
    <title>{% block title %}CatMS Admin{% endblock %}</title>

    {# Less #}
    <script src="{{ asset('js/catms/less-bootstrap.js') }}"></script>  
    <link href="{{ asset('css/catms/admin.less') }}" rel="stylesheet/less" type="text/css" />
    {# End Less #}
    
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.icon-large.min.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/glyphicons.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-select.min.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-checkbox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/vendor/colorbox.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('css/vendor/jquery.pnotify.default.css') }}" type="text/css" media="screen" />

    {% block stylesheets_import %}{% endblock %}
    
    <script src="{{ asset('js/vendor/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('js/vendor/underscore-min.js') }}"></script>
    <script src="{{ asset('js/vendor/backbone-min.js') }}"></script>
    
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap-checkbox.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.colorbox-min.js') }}"></script>
    <script src="{{ asset('js/tinymce/tinymce.min.js')}}"></script>
    <script src="{{ asset('js/vendor/jquery.pnotify.min.js')}}"></script>
    <script src="{{ asset('js/vendor/less-1.4.1.min.js') }}"></script>
    
    {# Translations #}
    <script type="text/javascript" src="{{ asset('js/vendor/translator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url('bazinga_exposetranslation_js', {'_locale' : app.request.locale }) }}"></script>
    {# End #}
    
    <script type="text/javascript" src="{{ asset('js/catms/catms.text-editor.js')}}"></script>

    <script src="{{ asset('js/catms/views/BaseView.js') }}"></script>
    <script src="{{ asset('js/catms/views/ConfirmView.js') }}"></script>
    <script src="{{ asset('js/catms/views/MenuView.js') }}"></script>
    <script>
        $(function() {
           window.baseView = new BaseView();
           window.modalLoader = new ModalLoaderView();
           window.confirmView = new ConfirmView();
           window.menuView = new MenuView();
        });
    </script>
    {% block javascripts %}{% endblock %}
    
    {# Assetic - prepare for production environment #}
    {# stylesheets
        'bootstrap/css/bootstrap.min.css'
        'bootstrap/css/bootstrap.icon-large.min.css'
        'bootstrap/css/glyphicons.css'
        'bootstrap/css/bootstrap-select.min.css'
        'js/pines-notify/jquery.pnotify.default.css'
        'css/catms-style.css'
        filter='cssrewrite, yui_css' output="css/yui/cmp.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}

    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js')}}"></script>
    {% javascripts
        'js/vendor/jquery-1.10.2.min.js'
        'bootstrap/js/bootstrap.min.js'
        'bootstrap/js/bootstrap-select.min.js'
        'js/pines-notify/jquery.pnotify.min.js'
        filter='yui_js' output="js/yui/cmp.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts #}

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('admin-home') }}"><img src="{{ asset('img/catms-logo.png') }}" /><span>CatMS</span></a>
                <div class="nav-collapse collapse">

                    <ul class="nav">
                        {{ include('CatMSAdminBundle:Helpers:nav.html.twig') }}
                    </ul>
                    
                    <div class="btn-group to-right header-btns">
                        {% if not app.user %}
                            <a href="{{ path('login') }}" class="btn btn-primary">Login</a>
                        {% else %}
                            <span class="btn btn-small"><i class="icon-user"></i>{% trans with {'username': app.user.username } %}auth.welcome{% endtrans %}</span>
                            <a href="{{ path('logout') }}" class="btn btn-primary btn-small"><i class="icon-off"></i> {{ 'auth.logout' | trans }}</a>
                        {% endif %}
                    </div>           
                </div>
            </div>
        </div>
    </div>   
        
    <div class="container">
        
        <div class="history-trigger-container">
            <a class="btn btn-info btn-small"><i class="icon-chevron-left"></i> {{ 'global.history' | trans }}</a>
        </div>   
        <div class="history-container">
            <a href="{{ path('ajax-get-history')}}" id="getHistoryUrl" style="display: none"></a>
            <div class="page-header no-margin">
                <h5>History <small>last 10 actions</small></h5>
            </div>
            <div class="loader-history-gif"></div>
            <div class="append-history-here"></div>
        </div>

        <ul class="breadcrumb">
            {% block breadcrumb %}
                <li><a href="{{ path('admin-home')}}"><i class="icon-home" style="margin-top: 0;"></i> Home</a></li> <span class="divider">/</span>
            {% endblock %}
        </ul>

        {% include 'CatMSAdminBundle:Helpers:notify.html.twig' %}
                
        {% block content %}
        {% endblock %}
    </div> <!-- /container -->
    
    <footer class="footer-bottom"><small><a href="http://www.catdesign.pl">Catdesign</a> &copy; 2013 Author: Dawid Job <a href="mailto:d.job@catdesign.pl">d.job@catdesign.pl</a></small></footer>
    
    {% include 'CatMSAdminBundle:Helpers:faq.html.twig' %}
    
    {% block templates %}
        {% include 'CatMSAdminBundle:Templates:templates.html.twig' %}
        {% include 'CatMSAdminBundle:Templates:loader.html.twig' %}
    {% endblock %}
    
    {% block javascripts_bottom %}{% endblock %}
</body>
</html>
