<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}CatMS Admin - Login{% endblock %}</title>
    
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" media="screen" />
    {#<link rel="stylesheet" href="{{ asset('css/catms-style.css') }}" type="text/css" media="screen" />#}
    <link href="{{ asset('css/catms/admin.less') }}" rel="stylesheet/less" type="text/css" />
    {#
    {% stylesheets 
        'bootstrap/css/bootstrap.min.css'
        'css/catms-style.css'
        filter='cssrewrite, yui_css' output="css/yui/cmp-cut.css" %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
    {% endstylesheets %}
    #}

    <script src="{{ asset('js/vendor/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    
    {# Less #}
    <script src="{{ asset('js/vendor/less-1.4.1.min.js') }}"></script>
    <script src="{{ asset('js/catms/less-bootstrap.js') }}"></script> 
    {# End Less#}
    
    {#
    {% javascripts
        'js/jquery-1.7.2.min.js'
        'bootstrap/js/bootstrap.min.js'
        filter='yui_js' output="js/yui/cmp-cut.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %} 
    #}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="{{ path('admin-home') }}">
                    <img src="{{ asset('img/catms-logo.png') }}" /><span>CatMS</span>
                </a>
            </div>
        </div>
    </div> 
        
    <div class="container">
    <legend><i class="icon-lock" style="margin-top: 4px;"></i> {{ 'auth.userAuthentication' | trans | trans }}</legend>
    {% for flashMessage in app.session.flashbag.get('noticeSuccess') %}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('noticeFailure') %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ flashMessage | trans }}
        </div>
    {% endfor %}

    {% if error %}
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error.message | trans }}. {{ 'auth.pleaseTryAgain' | trans }}.
    </div>
    {% endif %}

    {% block content %}{% endblock %}
        
    </div> <!-- /container -->
    
</body>
</html>