{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('user')}}">{{ 'user.breadcrumbs.userList' | trans }}</a></li> <span class="divider">/</span></li>
    <li class="active">{% trans with {'username': entity.username } %}user.passwordEdit.user{% endtrans %}</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-asterisk"></i>{% trans with {'username': entity.username } %}user.passwordEdit.user{% endtrans %}</i></legend>
    <form action="{{ path('edit_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} class="form-float">
        <fieldset>
        {% if form_errors(form) %}
        <script src="{{ asset('js/cleanErrorField.js') }}"></script>
        <div class="alert error-field">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ form_errors(form) }}
        </div>
        {% endif %}
        
        <input type="hidden" name="_method" value="PUT" />
        {{ form_row(form.password) }}
        {{ form_row(form.password_retype) }}
        {{ form_rest(form) }}
        
        <br />
        <a class="btn btn-small" href="{{ path('user') }}"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
        <a class="btn btn-small" href="{{ path('user_show', {'id': entity.id }) }}"><i class="icon-user"></i> {{ 'user.backToTheUserDetails' | trans }}</a>
        
        <button type="submit" data-view="right" class="btn btn-primary btn-small change-this"><i class="icon-hdd"></i> {{ 'global.save' | trans }}</button>

        </fieldset>
    </form>
{% endblock %}
