{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('user')}}">Users list</a></li> <span class="divider">/</span></li>
    <li class="active">Edit {{ entity.username }} password</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-asterisk"></i> Edit <i>{{ entity.username }}'s</i> password</legend>
    <form action="{{ path('edit_password', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }} class="form-float">
        <fieldset>
        {% if form_errors(form) %}
        <script src="{{ asset('js/cleanErrorField.js') }}"></script>
        <div class="alert error-field">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
           {{ form_errors(form) }}
        </div>
        {% endif %}
        
        <input type="hidden" name="_method" value="PUT" />
        {{ form_row(form.password) }}
        {{ form_row(form.password_retype) }}
        {{ form_rest(form) }}
        
        <br />
        <a class="btn btn-small" href="{{ path('user') }}"><i class="icon-list"></i> Back to the list </a>
        <a class="btn btn-small" href="{{ path('user_show', {'id': entity.id }) }}"><i class="icon-user"></i> Back to the user details</a>
        
        <button type="submit" data-view="right" class="btn btn-primary btn-small change-this"><i class="icon-hdd"></i> Save</button>

        </fieldset>
    </form>
{% endblock %}
