{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">Users List</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-parents"></i> Users</legend>

    <table class="records_list table table-hover">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id', 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Username', 'u.username') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email', 'u.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Is active', 'u.isActive') }}</th>
                <th style="width: 90px;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.username }}</td>
                <td>{{ entity.email }}</td>
                <td>{% if entity.isActive != 0 %}Yes{% else %}No{% endif %}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn">Action</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('user_show', { 'id': entity.id }) }}"><i class="icon-info-sign"></i> Show</a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> Edit</a>
                            </li>
                            <li>
                                <a href="{{ path('edit_password', { 'id': entity.id }) }}"><i class="icon-asterisk"></i> Edit password</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <a href="{{ path('user_new') }}" class="btn btn-small btn-primary"><i class=" icon-user"></i> 
        Create new user
    </a>
    {% endblock %}
