{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('user')}}">{{ 'user.breadcrumbs.userList' | trans }}</a></li> <span class="divider">/</span></li>
    <li class="active">{{ 'user.breadcrumbs.createUser' | trans }}</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-user-add"></i> {{ 'user.index.createNewUser' | trans }}</legend>

    <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} class="form-float">
        {% if form_errors(form) %}
            
        <div class="alert error-field">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Errors occurred while validating form
        </div>
            
        {% endif %}
            
        {{ form_widget(form) }}
            
        <div>
            <a href="{{ path('user') }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
            <button type="submit" class="btn btn-small btn-primary"><i class="icon-hdd"></i> {{ 'global.create' | trans }}</button>
        </div>
    </form>


{% endblock %}
