{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets %}
#user_isActive {
    display: inline;
}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('user')}}">Users List</a></li> <span class="divider">/</span></li>
    <li class="active">Create User</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-user-add"></i> Create new user</legend>

    <form action="{{ path('user_create') }}" method="post" {{ form_enctype(form) }} class="form-float">
        {% if form_errors(form) %}
            
        <div class="alert error-field">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Errors occurred while validating form
        </div>
            
        {% endif %}
        
        {{ form_widget(form) }}
            
        <div>
            <a href="{{ path('user') }}" class="btn btn-small"><i class="icon-list"></i> Back to the list</a>
            <button type="submit" class="btn btn-small btn-primary"><i class="icon-hdd"></i> Create</button>
        </div>
    </form>


{% endblock %}
