{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('user')}}">Users List</a></li> <span class="divider">/</span></li>
    <li class="active">{{ entity.username }}</li>
{% endblock %}

    
{% block content -%}
    <legend>User <i>{{entity.username}}</i></legend>

    <table class="record_properties table table-striped table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>User hash</th>
                <td>{{ entity.userHash }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Salt</th>
                <td>{{ entity.salt }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ entity.roles[0] }}</td>
            </tr>
            <tr>
                <th>Is active</th>
                <td>{% if entity.isActive != 0 %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group" style="margin-bottom: 10px">
        <a href="{{ path('user') }}" class="btn"><i class="icon-list"></i> 
            Back to the list
        </a>

        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn"><i class="icon-edit"></i> 
            Edit
        </a>
    </div>
           
    <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn" data-toggle="modal" data-target="#delete"><i class="icon-trash"></i> Delete</button>
        {% include 'CatMSAdminBundle:Helpers:modal.html.twig' with {'id': 'delete', 'msg': 'Delete user', 'btnTxt': 'Delete'} %}
    </form>

{% endblock %}
