{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('user')}}">{{ 'user.breadcrumbs.userList' | trans }}</a></li> <span class="divider">/</span></li>
    <li class="active"><i>{{ entity.username }}</i></li>
{% endblock %}

    
{% block content -%}
    <legend><i class="icon-large icon-user"></i> User <i>{{entity.username}}</i></legend>

    <table class="record_properties table table-striped table-bordered">
        <tbody>
            <tr>
                <th style="width: 140px;">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{{ 'user.username' | trans }}</th>
                <td>{{ entity.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>{{ 'user.role' | trans }}</th>
                <td>{{ entity.roles[0] }}</td>
            </tr>
            <tr>
                <th>{{ 'user.isActive' | trans }}</th>
                <td>{% if entity.isActive != 0 %}{{ 'global.yes' | trans }}{% else %}{{ 'global.no' | trans }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-bottom: 10px">
        <a href="{{ path('user') }}" class="btn btn-small"><i class="icon-list"></i> 
            {{ 'global.backToTheList' | trans }}
        </a>

        <a href="{{ path('user_edit', { 'id': entity.id }) }}" class="btn btn-small"><i class="icon-edit"></i> 
            {{ 'global.edit' | trans }}
        </a>
            
        <form action="{{ path('user_delete', { 'id': entity.id }) }}" method="post" style="float: right">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" data-view="top" class="btn btn-small btn-warning remove-this"><i class="icon-trash"></i> {{ 'global.delete' | trans }}</button>
        </form>
    </div>
           


{% endblock %}
