{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets_import %}
    <link href="{{ asset('js/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css') }}" media="screen" rel="stylesheet" type="text/css"</link>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if group is empty %}
        <li>
            <em>Media library</em> 
            <a href="{{ path('media-library') }}"><i class="icon-list"></i>List</a>&nbsp;
            <a href="{{ path('media-library-grid-list') }}"> <i class="icon-th"></i>Grid</a>
        </li> <span class="divider">/</span> 
        <li class="active">Edit image/asset</li>
    {% else %}
        <li class="active">
            <em>Group <i>{{ image.imageGroup.description }}</i> assets</em> 
            <a href="{{ path('media-library', {'page': 1, 'slug': image.imageGroup.slug}) }}"><i class="icon-list"></i>List</a>&nbsp
            <a href="{{ path('media-library-group-grid-list', {'group': image.imageGroup.id}) }}"><i class="icon-th"></i>Grid</a>
        </li> <span class="divider">/</span>
        <li class="active">Edit image</li>
    {% endif %}
{% endblock %}    
    
    
{% block content -%}    
    <legend>
        <i class="icon-large icon-brush"></i> Edit Image/asset {% if group is not empty %} - <i>{{ image.imageGroup.description | raw }}</i> group{% endif %}
        {% if not group %}
            <a data-toggle="tooltip" title="Back to Grid View" href="{{ path('media-library-grid-list') }}" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>
        {% else %}
            <a data-toggle="tooltip" title="Back to Grid View" href="{{ path('media-library-group-grid-list', {'group': image.imageGroup.id}) }}" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>       
        {% endif %}
    </legend>
    
    {% if group is not empty and image.imageGroup and (image.imageGroup.imageWidth or image.imageGroup.imageHeight) %}
        
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            Canvas has dimensions 
            {% if image.imageGroup.imageWidth %} {{ image.imageGroup.imageWidth }}px width {% endif %}
            {% if image.imageGroup.imageWidth and image.imageGroup.imageHeight %} and {% endif %}
            {% if image.imageGroup.imageHeight %}{{ image.imageGroup.imageHeight }}px height{% endif %}. Larger image will be cropped to canvas dimensions.
        </div>

    {% endif %}
    
    <form novalidate action="{{ path('media-library-image-edit', {'id': image.id,'group': group}) }}" method="post" {{ form_enctype(form) }}>
        
        <div class="control-group" style="float: left; width: 360px;">
            
            <div class="controls">
                <div class="input-append">
                    <input style="width: 280px;" id="form_name" type="text" maxlength="255" required="required" name="form[title]" value="{{ image.title }}" {% if image.title is empty %}placeholder="Image/asset title"{% endif %}>
                    <a class="popoverButton" href="#" data-content="Image title render into HTML img title attribute." data-toggle="popover" data-original-title="Image/asset title">
                        <span class="add-on"><i class="icon-question-sign"></i></span>
                    </a>
                </div>
                {{ form_errors(form.title) }}
            </div>
        
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_name" type="text" maxlength="255" required="required" name="form[priority]" value="{{ image.priority }}" {% if image.priority is empty %}placeholder="Image/asset priority"{% endif %}>
                <a class="popoverButton" href="#" data-content="Priority of Image/asset display into defined group" data-toggle="popover" data-original-title="Image/asset priority">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.priority) }}
            </div>
            
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_redirect" type="text" maxlength="255" name="form[redirect]" value="{{ image.redirect }}" {% if image.redirect is empty %}placeholder="Redirect after click{% endif %}">
                <a class="popoverButton" href="#" data-content="Redirect aftter click on image canvas." data-toggle="popover" data-original-title="Redirect after click">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.redirect) }}
            </div>
            
            <div class="controls">
                <div class="input-append">
                    <input style="width: 280px;" id="form_slug" type="text" maxlength="255" name="form[slug]" value="{{ image.slug }}" {% if image.slug is empty %}placeholder="Image slug"{% endif %}  {% if not is_granted('ROLE_DEVELOPER') %}readonly{% endif %} />
                <a class="popoverButton" href="#" data-content="Image slug is using whlie identyfing and fetching." data-toggle="popover" data-original-title="Image slug">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.slug) }}
            </div>
            
            <div class="controls">
                <span class="btn btn-file"><i class="icon-file"></i> 
                    <input type="file" name="form[file]" id="form_file" style="width: 280px" />
                </span>    
                {{ form_errors(form.file) }}
            </div>
            
            {% if group is empty %}
            <script>$(function(){var txt='Undefined';$('#form_imageGroup option').each(function(){if ($(this).text() === txt) {$(this).attr('selected', 'selected');}});});</script>
            {% endif %}
            <div class="controls" style="margin-top: 15px;">
                <label for="form_imageGroup">Image/asset group</label>
                {{ form_widget(form.imageGroup, {'attr': {'class': 'span4 selectpicker'}}) }}
                {{ form_errors(form.imageGroup) }}
            </div>

            
             {{ form_row(form._token) }}
            
        </div>
        <div style="float: right">
            <a class="single-image" href="{{ asset('uploads/media-library/')~image.path }}">
                <img src="{{ asset('uploads/media-library/')~image.path }}" class="img-polaroid" style="max-width: 500px" />
            </a>
        </div>
        
        <div style="margin-top: 20px; float: left;">
            {% if group is defined %}
                <a href="{{ path('media-library', {'page': 1, 'slug': group}) }}" class="btn btn-small"><i class="icon-list"></i> Back to the list</a>    
            {% else %}
                <a href="{{ path('media-library') }}" class="btn btn-small"><i class="icon-list"></i> Back to the list</a>    
            {% endif %}
            <a role="button" href="#" class="btn btn-small btn-inverse" data-toggle="modal" data-target="#delete"><i class="icon-trash icon-white"></i> Delete</a>
            {% if group is empty %}
                {% set href = path('media-library-image-delete', { 'id': image.id }) %}
            {% else%}
                {% set href = path('media-library-image-delete', { 'id': image.id, 'group': group }) %}
            {% endif %}

            {% include 'CatMSAdminBundle:Helpers:modal.html.twig' with {'id': 'delete', 'msg': 'Confirm delete?', 'btnTxt': 'Delete', 'content': 'Do you confirm delete?', 'href': href} %}    
                
            <button class="show-loader btn btn-primary btn-small" type="submit"  data-loading-text="Updating..."><i class="icon-upload"></i> Update</button>
        </div>
    </form>
    
{% endblock %}