{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets_import %}
    <link href="{{ asset('js/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css') }}" media="screen" rel="stylesheet" type="text/css"</link>
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if group is empty %}
        <li>
            <em>{{ 'global.mediaLibrary' | trans }}</em> 
            <a href="{{ path('media-library') }}"><i class="icon-list"></i>{{ 'global.list' | trans }}</a>&nbsp;
            <a href="{{ path('media-library-grid-list') }}"> <i class="icon-th"></i>{{ 'global.grid' | trans }}</a>
        </li> <span class="divider">/</span> 
        <li class="active">{{ 'asset.editImageAsset' | trans }}</li>
    {% else %}
        <li class="active">
            <em>{% trans with {'group': image.imageGroup.description} %}asset.groupAssets{% endtrans %}</em> 
            <a href="{{ path('media-library', {'page': 1, 'slug': image.imageGroup.slug}) }}"><i class="icon-list"></i>{{ 'global.list' | trans }}</a>&nbsp
            <a href="{{ path('media-library-group-grid-list', {'group': image.imageGroup.id}) }}"><i class="icon-th"></i>{{ 'global.grid' | trans }}</a>
        </li> <span class="divider">/</span>
        <li class="active">{{ 'asset.editImageAsset' | trans }}</li>
    {% endif %}
{% endblock %}    
    
    
{% block content -%}    
    <legend>
        <i class="icon-large icon-brush"></i> {{ 'asset.editImageAsset' | trans }} {% if group is not empty %} - {{ 'global.group' | trans }} <i>{{ image.imageGroup.description | raw }}</i>{% endif %}
        {% if not group %}
            <a data-toggle="tooltip" title="{{ 'global.backToTheGridView' | trans }}" href="{{ path('media-library-grid-list') }}" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>
        {% else %}
            <a data-toggle="tooltip" title="{{ 'global.backToTheGridView' | trans }}" href="{{ path('media-library-group-grid-list', {'group': image.imageGroup.id}) }}" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>       
        {% endif %}
    </legend>
    
    {% if group is not empty and image.imageGroup and (image.imageGroup.imageWidth or image.imageGroup.imageHeight) %}
        
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{ 'global.warning' | trans }}!</h4>
            {{ 'asset.canvasHasDimensions' | trans }}
            {% if image.imageGroup.imageWidth %} {{ image.imageGroup.imageWidth }}px {{ 'global.canvasWidth' | trans }} {% endif %}
            {% if image.imageGroup.imageWidth and image.imageGroup.imageHeight %} {{ 'global.and' | trans }} {% endif %}
            {% if image.imageGroup.imageHeight %}{{ image.imageGroup.imageHeight }}px {{ 'global.canvasHeight' | trans }}{% endif %}. {{ 'asset.largerImageWillBeCroppedToCanvasDimensions' | trans }}
        </div>

    {% endif %}
            
    <form novalidate action="{{ path('media-library-image-edit', {'id': image.id,'group': group}) }}" method="post" {{ form_enctype(form) }}>
        
        <div class="control-group" style="float: left; width: 360px;">
            
            <div class="controls">
                <div class="input-append">
                    <input style="width: 280px;" id="form_name" type="text" maxlength="255" required="required" name="form[title]" value="{{ image.title }}" {% if image.title is empty %}placeholder="{{ 'asset.imageAssetTitle' | trans }}"{% endif %}>
                    <a class="popoverButton" href="#" data-content="{{ 'asset.upload.imageAssetTitleCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'global.filename' | trans }}">
                        <span class="add-on"><i class="icon-question-sign"></i></span>
                    </a>
                </div>
                {{ form_errors(form.title) }}
            </div>
        
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_name" type="text" maxlength="255" required="required" name="form[priority]" value="{{ image.priority }}" {% if image.priority is empty %}placeholder="{{ 'asset.imageAssetPriority' | trans }}"{% endif %}>
                <a class="popoverButton" href="#" data-content="{{ 'asset.upload.imageAssetPriorityCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'asset.imageAssetPriority' | trans }}">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.priority) }}
            </div>
            
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_redirect" type="text" maxlength="255" name="form[redirect]" value="{{ image.redirect }}" {% if image.redirect is empty %}placeholder="{{ 'asset.redirectAfterClick' | trans }}{% endif %}">
                <a class="popoverButton" href="#" data-content="{{ 'asset.upload.redirectAfterClickCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'asset.redirectAfterClick' | trans }}">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.redirect) }}
            </div>
            
            <div class="controls">
                <div class="input-append">
                    <input style="width: 280px;" id="form_slug" type="text" maxlength="255" name="form[slug]" value="{{ image.slug }}" {% if image.slug is empty %}placeholder="{{ 'asset.imageAssetSlug' | trans }}"{% endif %}  {% if not is_granted('ROLE_DEVELOPER') %}readonly{% endif %} />
                <a class="popoverButton" href="#" data-content="{{ 'asset.upload.imageAssetSlugCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'asset.imageAssetSlug' | trans }}">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.slug) }}
            </div>
            
            <div class="controls">
                <span class="btn btn-file"><i class="icon-file"></i> 
                    <input type="file" name="form[file]" id="form_file" style="width: 280px" />
                </span>    
                {{ form_errors(form.file) }}
            </div>
            
            {% if group is empty %}
            <script>$(function(){var txt='Undefined';$('#form_imageGroup option').each(function(){if ($(this).text() === txt) {$(this).attr('selected', 'selected');}});});</script>
            {% endif %}
            <div class="controls" style="margin-top: 15px;">
                <label for="form_imageGroup">{{ 'asset.group.title' | trans }}</label>
                {{ form_widget(form.imageGroup, {'attr': {'class': 'span4 selectpicker'}}) }}
                {{ form_errors(form.imageGroup) }}
            </div>

             {{ form_row(form._token) }}
            
        </div>
        <div style="float: right">
            {% if image.mimeType == 'image/jpeg' or image.mimeType == 'image/png' %}
            <a class="single-image" href="{{ asset('uploads/media-library/')~image.path }}">
                <img src="{{ asset('uploads/media-library/')~image.path }}" class="img-polaroid" style="max-width: 500px" />
            </a>
            {% endif %}
        </div>
        
        <div style="margin-top: 20px; float: left; clear: both;">
            {% if group is defined %}
                <a href="{{ path('media-library', {'page': 1, 'slug': group}) }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>    
            {% else %}
                <a href="{{ path('media-library') }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>    
            {% endif %}
                
            {% if group is empty %}
                {% set href = path('media-library-image-delete', { 'id': image.id }) %}
            {% else%}
                {% set href = path('media-library-image-delete', { 'id': image.id, 'group': group }) %}
            {% endif %}

            <button class="show-loader btn btn-primary btn-small" type="submit"  data-loading-text="{{ 'global.updating' | trans }}"><i class="icon-upload"></i> {{ 'global.update' | trans }}</button>
        </div>
    </form>
            
    {% include 'CatMSAdminBundle:MediaLibrary:widgets/delete-form.html.twig' with {'image': image, 'delete_form': delete_form, 'group': group} %}
            
{% endblock %}