{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">
        <em>Group <i>{{ group.description }}</i> assets</em> 
        <a href="{{ path('media-library', {'page': 1, 'slug': group.slug}) }}"><i class="icon-list"></i>List</a>&nbsp 
        <a href="{{ path('media-library-group-grid-list', {'group': group.id}) }}"><i class="icon-th"></i>Grid</a>
    </li>
{% endblock %}    
    
{% block content -%}
    <div class="notice-container"></div>
     
    <legend>
        <i class="icon-large icon-picture"></i> Group <i>{{ group.description}}</i> assets
        <a href="{{ path('media-library', {'page': 1, 'slug': group.slug}) }}" data-toggle="tooltip" title="Details View" class="show-list-view" style="float: right;">
            <i class="icon-large icon-list"></i>
        </a>
    </legend>

    <a href="{{ path('media-library-upload', {'group': group.slug}) }}" class="btn btn-small btn-success"><i class="icon-upload"></i> 
        Upload file
    </a>
    <hr />
    
    <div class="grid">
        <a href="{{ path('get-group-images-list-ajax', {'group': group.id}) }}" id="getGroupImagesList" style="display: none;"></a>
        <a href="{{ asset('uploads/media-library/') }}" id="dirPath" style="display: none;"></a>
        <a href="{{ path('media-library-image-edit-pure') }}" id="editPath" style="display: none;"></a>
        
        <ul class="grid-list" data-view="0">

        </ul>
    </div>
    <div class="more-btn-container">
        <a href="" class="btn btn-info btn-small"><i class="icon-chevron-down"></i> Show More</a>
    </div>
    
    <hr />
    <a href="{{ path('media-library-upload') }}" class="btn btn-small btn-success"><i class="icon-upload"></i> 
        Upload file
    </a>
    <hr />

    
<script src="{{ asset('js/catms.asset-group-grid-list.js') }}"></script>
{% endblock %}