{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {% if group is empty %}
        <li>
            <em>Media library</em> 
            <a href="{{ path('media-library') }}">&nbsp;<i class="icon-list"></i>List</a>&nbsp; 
            <a href="{{ path('media-library-grid-list') }}"><i class="icon-th"></i>Grid</a>
        </li>
    {% else %}
        <li class="active">
            <em>Group <i>{{ group.description }}</i> assets</em> 
            <a href="{{ path('media-library', {'page': 1, 'slug': group.slug}) }}"><i class="icon-list"></i>List</a>&nbsp
            <a href="{{ path('media-library-group-grid-list', {'group': group.id}) }}"><i class="icon-th"></i>Grid</a>
        </li>
    {% endif %}
    
{% endblock %}    
    
{% block content -%}
    <script src="{{ asset('js/catms-media-library.js') }}"></script>
    
    <div class="notice-container"></div>
     
    <legend>
        <i class="icon-large icon-picture"></i> Media library{% if group is not empty %} - <i>{{ group.description | raw }} assets</i>{% endif %}
        {% if not group %}
            <a data-toggle="tooltip" title="Grid View" href="{{ path('media-library-grid-list') }}" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>
        {% else %}
            <a data-toggle="tooltip" title="Grid View" href="{{ path('media-library-group-grid-list', {'group': group.id}) }}" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>       
        {% endif %}
    </legend>
    
    {% if pagination | length > 0 %}

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <td colspan="7">
                    <a class="btn btn-mini mark-all" href="#"><i class="icon-ok"></i> Mark all</a>
                    <a class="btn btn-mini unmark-all" href="#"><i class="icon-remove-sign"></i> Unmark all</a>

                    <a class="btn btn-mini remove-all-marked" href="{{ path('delete-all-marked', {'token': multipleDeleteToken }) }}"><i class="icon-trash"></i> Remove all selected</a>
               
                
                    <div style="float: right; display: inline;">
                    {% if group is not empty %}             
                    <a href="{{ path('media-library', {'page': 1, 'slug': group.slug}) }}" class="list-home-url hide"></a>
                    <div>
                        <a href="{{ path('image-group') }}" class="btn btn-mini"><i class="icon-th-large"></i> Back to the group</a>
                        <a href="{{ path('media-library-upload', {'group': group.slug }) }}" class="btn btn-mini btn-success"><i class="icon-upload"></i> Upload file</a>
                    </div>

                    {% else %}
                        <a href="{{ path('media-library') }}" class="list-home-url hide"></a>
                        <a href="{{ path('media-library-upload') }}" class="btn btn-mini btn-success"><i class="icon-upload"></i> 
                            Upload file
                        </a>
                    {% endif %}
                    </div>
                    
                </td>
            </tr> 
            
            <tr>
                <th width=15></th>
                <th width=40>{{ knp_pagination_sortable(pagination, 'ID', 'iu.id') }}</th>
                <th width=180>Thumbnail</th>
                <th width=140>{{ knp_pagination_sortable(pagination, 'Name', 'iu.path') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Attribute title', 'iu.title') }}</th>
                <th>Slug</th>
                <th width=80>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}                
            <tr class="row_{{ entity.id }}">
                <td rowspan="4">
                    <input type="checkbox" class="mark-it" value="{{ entity.id }}" />
                </td>
                <td rowspan="4"><a href="{{ path('content-manager-show', { 'id': entity.id }) }}">{{ entity.id }} <i class="icon-chevron-right"></i></a></td>
                <td>
                    {% include 'CatMSAdminBundle:Helpers:mime-type-thumb.html.twig' with {'entity': entity} %}
                </td>
                <td>
                    {{ entity.path }}<br />
                    <a href="{{ asset('uploads/media-library/')~entity.path }}" class="btn btn-mini btn-success copy-source">Copy Source</a>
                </td>
                <td>{{ entity.title }}</td>

                <td width="150">{% if entity.slug %}{{ entity.slug }}{% else %}<span class="label">NOT DEFINED</span>{% endif %}</td>
                <td rowspan="4">
                    <div class="btn-group btn-group-vertical">
                        {% if entity.mimeType == 'image/jpeg' or entity.mimeType == 'image/png' %}
                            <a style="text-align: left;" href="{{ asset('uploads/media-library/')~entity.path }}" class="btn single-image btn-small"><i class="icon-fullscreen"></i> Show</a>
                        {% else %}
                            <a style="text-align: left;" href="{{ asset('uploads/media-library/')~entity.path }}" class="btn btn-small"><i class="icon-download"></i> Show</a>
                        {% endif %}
                        
                        {% if group is not empty %}
                        <a style="text-align: left;" href="{{ path('media-library-image-edit', {'id': entity.id, 'group': entity.imageGroup.slug }) }}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>
                        {% else %}
                        <a style="text-align: left;" href="{{ path('media-library-image-edit', {'id': entity.id }) }}" class="btn btn-small"><i class="icon-edit"></i> Edit</a>
                        {% endif %}
                    </div><br /><br />
                        
                    {% if group is empty %}
                        {% set href = path('media-library-image-delete', { 'id': entity.id }) %}
                    {% else %}
                        {% set href = path('media-library-image-delete', { 'id': entity.id, 'group': group.slug }) %}
                    {% endif %}

                    <form action="{{ href }}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        {{ form_widget(entity.deleteForm) }}
                        <button type="submit" class="btn btn-small remove-this"><i class="icon-trash"></i> Delete</button>
                    </form>
                </td>
            </tr>
            <tr class="row_{{ entity.id }}">
                <th>Group</th><td colspan="3">{% if entity.imageGroup.description is defined %}<a href="{{ path('media-library', {'page': 1, 'slug': entity.imageGroup.slug }) }}">{{ entity.imageGroup.description }}</a>{% if is_granted('ROLE_DEVELOPER')%} [ {{ entity.imageGroup.slug }} ]{% endif %}{% else %}<span class="label ">NOT DEFINED</span>{% endif %}</td>
            </tr>
            <tr class="row_{{ entity.id }}">
                <th>Redirect</th><td colspan="3">{% if entity.redirect %}{{ entity.redirect }}{% else %}<span class="label">NOT DEFINED</span>{% endif %}</td>
            </tr>
            <tr class="row_{{ entity.id }}">
                <th>Size</th><td colspan="3">{{ get_image_size(entity) | raw }}</td>
            </tr>
            <tr class="row_{{ entity.id }}">
                <td colspan="7">
                    <div style="width: 100%; height: 1px; border-top: 1px dashed #888;"></div>
                </td>
            <tr/>
        {% endfor %}

            <tr>
                <td colspan="7">
                    <a class="btn btn-mini mark-all" href="#"><i class="icon-ok"></i> Mark all</a>
                    <a class="btn btn-mini unmark-all" href="#"><i class="icon-remove-sign"></i> Unmark all</a>
                    
                    <a class="btn btn-mini remove-all-marked" href="{{ path('delete-all-marked', {'token': multipleDeleteToken }) }}"><i class="icon-trash"></i> Remove all selected</a>
                
                    {% include 'CatMSAdminBundle:MediaLibrary:widgets/list-buttons.html.twig' with {'group': group} %} 
                    
                </td>
            </tr>
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
    {% else %}
    
        <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Empty databse!</strong> No records defined
        </div>
    
        {% if group is not empty %}
            <div style="margin-top: 20px;">
                <a href="{{ path('image-group') }}" class="btn btn-small"><i class="icon-th-large"></i> Go to the group list</a>
                <a href="{{ path('media-library-upload', {'group': group.slug }) }}" class="btn btn-success btn-small"><i class="icon-upload"></i> Upload file</a>
            </div>
        {% else %}
            <a href="{{ path('media-library-upload') }}" class="btn btn-small btn-success"><i class="icon-upload"></i> 
                Upload file
            </a>
        {% endif %}
    
    {% endif %}

{% endblock %}