{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets_import %}
    <link href="{{ asset('js/plupload/js/jquery.plupload.queue/css/jquery.plupload.queue.css') }}" media="screen" rel="stylesheet" type="text/css"</link>
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {% if group is empty %}
    <li>
        <em>{{ 'global.mediaLibrary' | trans }} </em> 
        <a href="{{ path('media-library') }}"><i class="icon-list"></i>{{ 'global.list' | trans }}</a>&nbsp 
        <a href="{{ path('media-library-grid-list') }}"> <i class="icon-th"></i>{{ 'global.grid' | trans }}</a>
    </li> <span class="divider">/</span> 
    <li class="active">{{ 'asset.uploadFile' | trans }}</li>
    {% else %}
    <li>
        <em>{% trans with {'group': groupEntity.description} %}asset.groupAssets{% endtrans %} </em> 
        <a href="{{ path('media-library', {'page': 1, 'slug': groupEntity.slug}) }}"><i class="icon-list"></i>{{ 'global.list' | trans }}</a>&nbsp
        <a href="{{ path('media-library-group-grid-list', {'group': groupEntity.id}) }}"><i class="icon-th"></i>{{ 'global.grid' | trans }}</a>
    </li> <span class="divider">/</span>          
    <li class="active">{{ 'asset.uploadFile' | trans }}</li>
    {% endif %}
{% endblock %}    
    
{% block content -%}    
<div class="uploader-view">
    {% if group is not empty and groupEntity is defined and (groupEntity.imageWidth or groupEntity.imageHeight) %}
        
        <div class="alert alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{ 'global.warning' | trans }}!</h4>
            {{ 'asset.canvasHasDimensions' | trans }}
            {% if groupEntity.imageWidth %} {{ groupEntity.imageWidth }}px {{ 'asset.canvasWidth' | trans }} {% endif %}
            {% if groupEntity.imageWidth and groupEntity.imageHeight %} {{ 'global.and' }} {% endif %}
            {% if groupEntity.imageHeight %}{{ groupEntity.imageHeight }}px {{ 'asset.canvasHeight' | trans }}{% endif %}. {{ 'asset.largerImageWillBeCroppedToCanvasDimensions' | trans }}
        </div>

    {% endif %}
    
    <form novalidate action="{{ path('media-library-upload', {'group': group}) }}" method="post" {{ form_enctype(form) }} class="upload-form">
        <legend><i class="icon-large icon-attach"></i> {{ 'asset.upload.uploadSingleFileAndSetProperties' | trans | raw }}</legend>
         
        <div class="control-group">
        
            <div class="controls">
                <div class="input-append">
                    <input style="width: 280px;" id="form_name" type="text" maxlength="255" required="required" name="form[name]" placeholder="{{ 'global.filename' | trans }}">
                    <a class="popoverButton" href="#" data-content="{{ 'asset.upload.filenameCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'global.filename' | trans }}">
                        <span class="add-on"><i class="icon-question-sign"></i></span>
                    </a>
                </div>
                {{ form_errors(form.name) }}
            </div>
            
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_title" type="text" maxlength="255" required="required" name="form[title]" placeholder="{{ 'asset.imageAssetTitle' | trans }}">
                <a class="popoverButton" href="#" data-content="{{ 'asset.upload.imageAssetTitleCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'asset.imageAssetTitle' | trans }}">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.title) }}
            </div>
        
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_prioriy" type="text" maxlength="255" required="required" name="form[priority]" placeholder="{{ 'asset.imageAssetPriority' | trans }}">
                <a class="popoverButton" href="#" data-content="{{ 'asset.upload.imageAssetPriorityCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'asset.imageAssetPriority' | trans }}">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.priority) }}
            </div>
            
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_redirect" type="text" maxlength="255" name="form[redirect]" placeholder="{{ 'asset.redirectAfterClick' | trans }}">
                <a class="popoverButton" href="#" data-content="{{ 'asset.upload.redirectAfterClickCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'asset.redirectAfterClick' | trans }}">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.redirect) }}
            </div>
            
            <div class="controls">
                <div class="input-append">
                <input style="width: 280px;" id="form_slug" type="text" maxlength="255" required="required" name="form[slug]" placeholder="{{ 'asset.imageAssetSlug' | trans }}">
                <a class="popoverButton" href="#" data-content="{{ 'asset.upload.imageAssetSlugCustom' | trans }}" data-toggle="popover" data-original-title="{{ 'asset.imageAssetSlug' | trans }}">
                    <span class="add-on"><i class="icon-question-sign"></i></span>
                </a>
                </div>
                {{ form_errors(form.slug) }}
            </div>
            
            <div class="controls file-input-container">
                <span class="btn btn-file btn-small"><i class="icon-file"></i> 
                    <input type="file" name="form[file]" id="form_file" style="width: 283px;" />
                </span>    
                {{ form_errors(form.file) }}
            </div>
            
            {% if group is empty %}  
            <script>
                $(function() {
                    var txt='Undefined';
                    $('#form_imageGroup option').each(function() {
                        if ($(this).text() === txt) {
                            $(this).attr('selected', 'selected')
                        ;}
                    });
                });
            </script>
            <div class="controls" style="margin-top: 15px;">
                <label for="form_imageGroup"><i class="icon-chevron-down"></i> {{ 'asset.group.title' | trans }}</label>
                {{ form_widget(form.imageGroup, {'attr': {'class': 'span4 selectpicker'}}) }}
                {{ form_errors(form.imageGroup) }}
            </div>
            {% endif %}

            {{ form_row(form._token) }}
            
        </div>
        
        <div style="margin-top: 20px;">
            {% if group is not empty %}
            <a href="{{ path('media-library', {'slug': group}) }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
            {% else %}    
            <a href="{{ path('media-library') }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>    
            {% endif %}
            <button class="btn btn-primary btn-small show-loader show-submit-loader" type="submit"  data-loading-text="{{ 'global.uploading' | trans }}"><i class="icon-upload"></i> {{ 'global.upload' | trans }} </button>
        </div>
    </form>

    {# plupload #}
    <script type="text/javascript" src="{{ asset('js/lib/browserplus-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/plupload/js/plupload.full.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/plupload/js/jquery.plupload.queue/jquery.plupload.queue.js')}}"></script>

    <script type="text/javascript" src="{{ asset('js/catms/catms-plupload.js') }}"></script>
    <a href="{{ path('media-library-plupload', {'group': group}) }}" id="pluploadUrl" style="display: none"></a>
    <div class="multiple-upload-form">
        <legend><i class="icon-large icon-sort"></i> {{ 'asset.upload.mulitipleUpload' | trans }}
            {% if not group %}
                <a href="{{ path('media-library-grid-list') }}" data-toggle="tooltip" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>
        {% else%}
                <a href="{{ path('media-library-group-grid-list', {'group': groupEntity.id }) }}" data-toggle="tooltip" title="Grid View" style="float: right;"><i class="icon-large icon-th"></i></a>
            </a>
        {% endif %}
        </legend>
        <form>
        <div id="uploader">
            <p>{{ 'plupload.browserError' | trans }}</p>
        </div>
        </form>
    </div>
</div>
{% endblock %}