{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    textarea { width: 500px }
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('seo') }}">{{ 'seo.pagesList' | trans }}</a></li> <span class="divider">/</span>
    <li class="active">{{ 'seo.edit' | trans }} <i>{{ entity.slug }}</i> SEO</li>
{% endblock %}
    
{% block content -%}
<div class="seo-edit-view">
    <legend>
        <i class="icon-large icon-globe"></i> {{ 'seo.edit' | trans }} <i>{{ entity.slug }}</i></i> SEO
    </legend>

    <form action="{{ path('seo-update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} style="width: 225px">
        <input type="hidden" name="_method" value="PUT" />
        {{ form_widget(edit_form) }}

        <div class="buttons">
            <a href="{{ path('seo') }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
            <a href="{{ path('seo-show', { 'id': entity.id }) }}" class="btn btn-small"><i class="icon-fullscreen"></i> {{ 'global.show' | trans }}</a>
            <button type="submit" class="btn btn-primary btn-small show-loader show-submit-loader" data-loading-text="{{ 'global.saving' | trans }}"><i class="icon-hdd"></i> {{ 'global.save' | trans }}</button>
        </div>
    </form>
    <br />

    <form action="{{ path('seo-delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" data-view="top" class="btn btn-small btn-warning remove-this-form"><i class="icon-trash"></i> {{ 'global.delete' | trans }}</button>
    </form>
</div>
{% endblock %}
