{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'seo.settings' | trans }}</li>
{% endblock %}
    
{% block content -%}
    <legend>
        <i class="icon-large icon-globe"></i> {{ 'seo.pagesList' | trans }}
    </legend>

    {% if entities | length > 0 %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th width=30>Id</th>
                <th>Slug</th>
                <th>Page Title</th>
                <th>Meta Description</th>
                <th>Meta Keywords</th>
                <th  width=90>{{ 'global.action' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('seo-show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.pageTitle }}</td>
                <td>{{ entity.metaDescription }}</td>
                <td>{{ entity.metaKeywords }}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn">{{ 'global.action' | trans }}</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('seo-show', {'id': entity.id }) }}"><i class="icon-fullscreen"></i> {{ 'global.show' | trans }}</a>
                            </li>
                            <li>
                                <a href="{{ path('seo-edit', {'id': entity.id }) }}"><i class="icon-edit"></i> {{ 'global.edit' | trans }}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ 'global.emptyDatabase' | trans | raw }}
    </div>
    {% endif %}
    
    <hr />
    
    <div class="btn-group">
        <a href="{{ path('seo-new') }}" class="btn btn-small"><i class="icon-pencil"></i> {{ 'seo.createNewSeoPage' | trans }}</a>
    </div>
    {% endblock %}
