{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    textarea { width: 500px }
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('seo') }}">{{ 'seo.pagesList' | trans }}</a></li> <span class="divider">/</span>
    <li class="active">{{ 'seo.creatingNewSeoPage' | trans }}</li>
{% endblock %}
    
{% block content -%}
    <legend>
        <i class="icon-large icon-globe"></i> {{ 'seo.creatingNewSeoPage' | trans }}
    </legend>

    <form novalidate action="{{ path('seo-create') }}" method="post" {{ form_enctype(form) }} style="width: 220px;">
        {{ form_widget(form) }}
        <button type="submit" data-toggle="button" class="btn btn-primary btn-small show-loader show-submit-loader" data-loading-text="{{ 'global.saving' | trans }}"><i class="icon-hdd"></i> {{ 'global.create' | trans }}</button>
    </form>
        
    <br />
    <a href="{{ path('seo') }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
        
{% endblock %}
