<div class="archive-trigger-container">
    <a class="btn btn-inverse btn-small"><i class="icon-white icon-chevron-left"></i> {{ 'global.archive' | trans }}</a>
</div>
<div class="archive-container">
    <div class="archive">
        {% if archive | length > 0 %}
        <div class="page-header no-margin">
            <h5>{{ 'global.archive' | trans }} <small>{{ 'global.from' | trans }} {{ archive[0].createdAt | date("Y/m/d H:i:s") }} {{ 'global.to' | trans }} {{ archive[archive | length - 1].createdAt | date("Y/m/d H:i:s") }}</small></h5>
        </div>
        <!--<div class="loader-gif"></div>-->
        <div class="append-here-archive">
            <table class="table table-bordered archive-table">
                <thead>
                    <tr>
                        <th>{{ 'global.archiveDate' | trans }}</th>
                        <th>{{ 'global.actions' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for content in archive %}
                    <tr>
                        <td>{{ content.createdAt | date("Y/m/d H:i:s") }}</td>
                        <td>
                            <a href="{{ path('content-manager-get-archive', {'id': content.id}) }}" class="btn btn-primary btn-mini import-archive"><i class="icon-refresh"></i> Import</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="alert alert-info span5">
            {{ 'global.noArchiveSaved' | trans }}
        </div>
        {% endif %}
    </div>
</div>