<li class="divider-vertical"></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Users
    <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
        <li class="nav-header">Registered</li>
        <li {% if is_active_nav_button('user', 'index') %}class="active"{% endif %}><a href="{{ path('user') }}"><i class="icon-list"></i> List</a></li>
        <li {% if is_active_nav_button('user', 'new') %}class="active"{% endif %}><a href="{{ path('user_new') }}"><i class="icon-user"></i> Create</a></li>
    </ul>
</li>

<li class="divider-vertical"></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Content Manager
    <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
        <li class="nav-header">Direct access edit</li>
        <li class="dropdown-submenu">
            <a class="ajax-get-groups" tabindex="-1" href="{{ path('ajax-get-groups') }}"><i class="icon-folder-open"></i> Image/asset groups </a>
            <ul class="dropdown-menu" id="image-groups-submenu">
                <li class="ajax-image-groups-preloder"><a class="tmp-image-group-url" href="{{ path('media-library-group-grid-list-pure') }}"><img src="{{ asset('img/loader.gif') }}" alt="Loading..." /></a></li>
            </ul>
        </li>
        
        <li class="dropdown-submenu">
            <a class="ajax-get-content-groups" tabindex="-1" href="{{ path('ajax-get-content-groups') }}"><i class="icon-tags"></i> Content groups</a>
            <ul class="dropdown-menu" id="content-groups-submenu">
                <li class="ajax-content-groups-preloder"><a class="tmp-content-group-url" href="{{ path('content-manager-pure-url') }}"><img src="{{ asset('img/loader.gif') }}" alt="Loading..." /></a></li>
            </ul>
        </li>
        
        <li class="divider"></li>
        
        <li class="nav-header">Text content</li>
        <li {% if is_active_nav_button('contentgroup', 'index') %}class="active"{% endif %}><a href="{{ path('content-group') }}"><i class="icon-tags"></i> Groups</a></li>
        {% if is_granted('ROLE_DEVELOPER') %}
        <li {% if is_active_nav_button('contentgroup', 'new') %}class="active"{% endif %}><a href="{{ path('content-group-new') }}"><i class="icon-pencil"></i> Create group</a></li>
        {% endif %}
        
        <li class="divider"></li>
        <li class="nav-header">Media library</li>
        <li {% if is_active_nav_button('medialibrary', 'list') %}class="active"{% endif %}><a href="{{ path('media-library-grid-list') }}"><i class="icon-picture"></i> All images & assets</a></li>
        <li {% if is_active_nav_button('mediaibrary', 'upload') %}class="active"{% endif %}><a href="{{ path('media-library-upload') }}"><i class="icon-upload"></i> Upload file</a></li>
        <li {% if is_active_nav_button('imagegroup', 'index') %}class="active"{% endif %}><a href="{{ path('image-group') }}"><i class="icon-folder-open"></i> Groups</a></li>
        {% if is_granted('ROLE_DEVELOPER') %}
        <li {% if is_active_nav_button('imagegroup', 'new') %}class="active"{% endif %}><a href="{{ path('image-group-new') }}"><i class="icon-pencil"></i> Create group</a></li>
        {% endif %}
    </ul>
</li>

<li class="divider-vertical"></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Settings
    <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
        <li class="nav-header">Panel settings</li>
        <li {% if is_active_nav_button('setting', 'panelSetting') %}class="active"{% endif %}><a href="{{ path('panel-settings') }}"><i class="icon-wrench"></i> Show settings</a></li>
        {% if is_granted('ROLE_DEVELOPER') %}
        <li><a href="{{ path('settings-new', {'range': 'panel'}) }}"><i class="icon-plus"></i> Add new</a></li>
        {% endif %}
        <li class="divider"></li>
        <li class="nav-header">Other settings</li>
        <li {% if is_active_nav_button('setting', 'frontendSetting') %}class="active"{% endif %}><a href="{{ path('frontend-settings') }}"><i class="icon-wrench"></i> Show settings</a></li>
        {% if is_granted('ROLE_DEVELOPER') %}
        <li><a href="{{ path('settings-new', {'range': 'frontend'}) }}"><i class="icon-plus"></i> Add new</a></li>
        <li class="divider"></li>
        <li class="nav-header">Cache</li>
        <li><a href="{{ path('clear-cache') }}"><i class="icon-trash"></i> Clear cache</a></li>
        {% endif %}
    </ul>
</li>

<li class="divider-vertical"></li>

<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        SEO
    <b class="caret"></b>
    </a>

    <ul class="dropdown-menu">
        <li class="nav-header">SEO settings</li>
        <li><a href="{{ path('seo') }}"><i class="icon-wrench"></i> Pages list</a></li>
        {% if is_granted('ROLE_DEVELOPER') %}
        <li><a href="{{ path('seo-new') }}"><i class="icon-plus"></i> Create seo settings</a></li>
        {% endif %}
    </ul>
</li>