{% extends 'CatMSAdminBundle::base.html.twig' %}   

{% block javascripts_bottom %}
    {% if not is_granted('ROLE_DEVELOPER') %}
    <script>
        $(function(){
            $('.checkDeveloper').attr('readonly', 'readonly');
        });
    </script>
    {% endif %}
{% endblock %}
   
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('content-group') }}">Content groups</a></li> <span class="divider">/</span>
    <li><a href="{{ path('content-manager-list', {'page': 1, 'slug': entity.contentGroup.slug }) }}">Group {{ entity.contentGroup.description | striptags }} contents</a></li> <span class="divider">/</span>
    <li class="active">{{ entity.description | raw }}</li>
{% endblock %}
    
{% block content %}
    {% include 'CatMSAdminBundle:Helpers:form-errors-div.html.twig' with {'form': edit_form, 'errors': errors | default() } %}        

    <legend><i class="icon-large icon-edit"></i> <i>{{ entity.description | striptags }}</i> edit {#<span class="label label-inverse">Draft</span> <span class="label label-info">Published</span>#}</legend>
    

    {% include 'CatMSAdminBundle:Helpers:related-images.html.twig' with {'group': entity.contentGroup } %}
    
    {% include 'CatMSAdminBundle:Helpers:archive.html.twig' with {'archive': archive } %}

    
    {% if entity.contentGroup.manual %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Tutorial available!</h4>
        This page has defined  manual. <a class="btn btn-primary  btn-mini" href="#tutorial">Read tutorial</a>
    </div>
    {% endif %}
    
    <form novalidate action="{{ path('content-manager-update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="content-manager-form">
        
        {% include 'CatMSAdminBundle:ContentManager:widgets/edit-buttons.html.twig' with {'entity': entity, 'position': 'up'} %}
        <hr class="clear"/>
        
        {% include 'CatMSAdminBundle:ContentManager:widgets/form-body.html.twig' with {'form': edit_form, 'group': entity.ContentGroup, 'action': 'edit' } %}
        
        {{ form_rest(edit_form) }}
        <input type="hidden" name="_method" value="PUT" />

        <hr class="clear" />
        {% include 'CatMSAdminBundle:ContentManager:widgets/edit-buttons.html.twig' with {'entity': entity, 'position': 'bottom'} %}
        
    </form>
    
    <form action="{{ path('content-manager-delete', { 'id': entity.id, 'group': entity.contentGroup.slug }) }}" method="post" style="float: right;">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" data-view="top" class="btn btn-small btn-warning remove-this"><i class="icon-trash"></i> Delete</button>
    </form>
    
    {% if entity.contentGroup.manual %}
    <div id="tutorial" style="float: left; width: 100%;">
        <hr />
        {{ entity.contentGroup.manual | raw }}
    </div>
    {% endif %}
    
{% endblock %}
