{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block javascripts_bottom %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}    
    <li><a href="{{ path('content-group') }}">Content groups</a></li> <span class="divider">/</span>
    <li class="active">Group {{ group.description | raw }} contents</li>
{% endblock %}    
    
{% block content -%}
    <legend><i class="icon-large icon-list"></i> Content list{% if group is not empty %} - <i>{{ group.description | raw }}</i>{% endif %}</legend>

    {% include 'CatMSAdminBundle:Helpers:related-images.html.twig' with {'group': group} %}

    {% include 'CatMSAdminBundle:ContentManager:widgets/list-buttons.html.twig' with {'group': group, 'position': 'up'} %}
    
    
    {% if pagination | length > 0 %}
    <hr class="clear"/>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th width=35>{{ knp_pagination_sortable(pagination, 'ID', 'cm.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Description', 'cm.description') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Slug', 'cm.slug') }}</th>
                <th width=200>{{ knp_pagination_sortable(pagination, 'Update date', 'cm.updatedAt') }}</th>
                <th width=80>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td rowspan="2"><a href="{{ path('content-manager-edit', { 'id': entity.id }) }}">{{ entity.id }} <i class="icon-chevron-right"></i></a></td>
                <td>{{ truncate(entity.description | striptags, 45) | raw }}</td>
                <td>{{ entity.slug }}</td>
                
                <td>{% if entity.updatedAt %}{{ entity.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td rowspan="2">
                    <a href="{{ path('content-manager-edit', { 'id': entity.id }) }}" class="btn brn-small"><i class="icon-edit"></i> Edit</a>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    {{ truncate(entity.fullText | striptags , 400) | raw }}
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="table-padding"></div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
    {% else %}
    <div class="alert clear" style="margin-top: 20px;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Empty databse!</strong> No records defined
    </div>
    {% endif %}

    
    {% include 'CatMSAdminBundle:ContentManager:widgets/list-buttons.html.twig' with {'group': group, 'position': 'bottom'} %}
    <hr class="clear"/>    
    
{% endblock %}
