{% extends 'CatMSAdminBundle::base.html.twig' %}
   
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('content-group') }}">{{ 'contentGroup.title' | trans }}</a></li> <span class="divider">/</span>
    <li><a href="{{ path('content-manager-list', {'page': 1, 'slug': entity.contentGroup.slug }) }}">{% trans with {'groupName': entity.contentGroup.description} %}contentManager.breadcrumbs.groupContents{% endtrans %}</a></li> <span class="divider">/</span>
    <li class="active">{{ 'contentManager.creatingNewContent' | trans }}</li>
{% endblock %}
    
{% block content %}
    {% include 'CatMSAdminBundle:Helpers:form-errors-div.html.twig' with {'form': form, 'errors': errors | default() } %}                
        
    <legend><i class="icon-large icon-font"></i> {{ 'contentManager.creatingNewContent' | trans }}</legend>

    {% include 'CatMSAdminBundle:Helpers:related-images.html.twig' with {'group': contentGroup } %}
    
    {% if contentGroup.manual %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>{{ 'global.tutorialAvailable' | trans }}</h4>
            {{ 'global.thisPageHasDefinedTutorial' | trans }} <a class="btn btn-primary  btn-mini" href="#tutorial">{{ 'global.readTutorial' | trans }}</a>
        </div>
    {% endif %}
    
    <form novalidate action="{{ path('content-manager-create', {'group': entity.contentGroup}) }}" method="post" {{ form_enctype(form) }} style="width: 100%" class="content-manager-form">
        
        {% include 'CatMSAdminBundle:ContentManager:widgets/new-buttons.html.twig' with {'contentGroup' : contentGroup, 'position': 'up'} %}
        <hr class="clear" />
        
        {% include 'CatMSAdminBundle:ContentManager:widgets/form-body.html.twig' with {'form': form, 'group': contentGroup} %}

        {{ form_rest(form) }}
            
        <hr class="clear" />
        {% include 'CatMSAdminBundle:ContentManager:widgets/new-buttons.html.twig' with { 'contentGroup' : contentGroup, 'position': 'bottom'} %}

    </form>

    {% if contentGroup and contentGroup.manual %}
    <div id="tutorial"  style="float: left; width: 100%;">
        <hr />
        {{ contentGroup.manual | raw }}
    </div>
    {% endif %}
    
{% endblock %}
    
{% block javascripts %}    
    <script src="{{ asset('js/catms/views/ContentView.js') }}"></script>
    <script>
        $(function() {
            var contentView = new ContentView();
        });
    </script>
{% endblock %}    
