{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'contentGroup.title' | trans }}</a>
{% endblock %} 

{% block content -%}
    <legend><i class="icon-large icon-tags"></i> {{ 'contentGroup.list' | trans }} </legend>

    <a href="{{ path('content-group-new') }}" class="btn btn-small" style="margin-bottom: 20px;"><i class="icon-pencil"></i> 
        {{ 'global.createNewGroup' | trans }}
    </a>
    
    {% if pagination | length > 0 %}
    
        {% include 'CatMSAdminBundle:ContentGroup:widgets/content-group-table.html.twig' with {'pagination': pagination} %}

    {% else %}
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ 'global.emptyDatabase' | trans | raw }}
    </div>
    {% endif %}
    
    <a href="{{ path('content-group-new') }}" class="btn btn-small"><i class="icon-pencil"></i> 
        {{ 'global.createNewGroup' | trans }}
    </a>
    
    {% endblock %}
