{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('content-group') }}">Content groups</a></li> <span class="divider">/</span>
    <li class="active">Create new group</a>
{% endblock %} 

{% block javascripts_bottom %}
    <script>
        $(function(){
            $('#catms_adminbundle_contentgrouptype').css('margin-bottom', '30px');
            var relImgContainer = $('#catms_adminbundle_contentgrouptype_relatedImages').parent('div');
            relImgContainer.css({
                'float': 'right',
                'position': 'relative',
                'top': '-165px',
                'right': '0px',
                'height': '155px',
                'width': '250px'
            });
            relImgContainer.children('select').css({
           'width': '250px',
           'height': '130px'
        });
    });
    </script>
    <script type="text/javascript" src="{{ asset('js/tinymce/tinymce.min.js')}}"></script>
    <script>
    tinymce.init({
        selector: "textarea#catms_adminbundle_contentgrouptype_manual",
        width : 940,
        height: 220,
        plugins: "code, textcolor",
        toolbar: "undo redo | styleselect | bold italic underline strikethrough | lignleft aligncenter alignright alignjustify | numlist bullist outdent indent | code | forecolor"
    });
    </script>
{% endblock %}          
        
{% block content -%}
    <legend>Content group creation</legend>

    <form novalidate action="{{ path('content-group-create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        
        <div class="btn-group">
            <a href="{{ path('content-group') }}" class="btn"><i class="icon-tags"></i> Back to the list</a>
            <button type="submit" class="btn btn-primary show-loader" data-loading-text="Creating..."><i class="icon-hdd"></i> Create</button>
        </div> 
        
    </form>
{% endblock %}
