{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('content-group') }}">{{ 'contentGroup.title' | trans }}</a></li> <span class="divider">/</span>
    <li class="active">{{ 'assetGroup.createNewGroup' | trans }}</a>
{% endblock %}        
        
{% block javascripts_bottom %}
    <script src="{{ asset('js/catms/catms.fields-labels.js') }}"></script>
{% endblock %}          
        
{% block content -%}
    {% include 'CatMSAdminBundle:Helpers:form-errors-div.html.twig' with {'form': form, 'errors': errors | default() } %}
    
    <legend><i class="icon-large icon-pencil"></i> {{ 'assetGroup.createNewGroup' | trans }}</legend>
    
    <form novalidate action="{{ path('content-group-create') }}" method="post" {{ form_enctype(form) }} id="contentGroupCreator">
        <div>
            <a href="{{ path('content-group') }}" class="btn btn-small"><i class="icon-tags"></i> {{ 'global.backToTheList' | trans }}</a>
            <button type="submit" class="btn btn-primary show-loader btn-small show-submit-loader" data-loading-text="{{ 'global.creating' | trans }}"><i class="icon-hdd icon-small"></i> {{ 'global.create' | trans }}</button>
        </div>

        <hr class="clear" />

        <div class="row-fluid" content-group-basics>
            <div class="span5 input-wrapper">
                {{ form_row(form.slug, {'attr': {'class': 'span12'}}) }}
                {{ form_row(form.description, {'attr': {'class': 'span12'}})}}
                {{ form_row(form.isRemovable, {'attr': {'class': 'span12 select-icons'}})}}
            </div>
            <div class="span4 related-image-select pull-right offset3 input-wrapper">
                {{ form_row(form.relatedImages) }}
            </div>                    
        </div>
        
        {% include 'CatMSAdminBundle:ContentGroup:widgets/labelized.html.twig' with {'form': form, 'errors': errors | default() } %}
        
        <legend class="legend-inside"><i class="icon-large icon-comment"></i> {{ 'global.manual' | trans }}</legend>
        <div class="row-fluid">
            <div class="span12 input-wrapper">
                {{ form_widget(form.manual, {'attr': {'class': 'tiny_full_with_image'}}) }}
            </div>
        </div>
            
        {{ form_rest(form) }}
        
        <hr class="clear" />

        <div>
            <a href="{{ path('content-group') }}" class="btn btn-small"><i class="icon-tags"></i> {{ 'global.backToTheList' | trans }}</a>
            <button type="submit" class="btn btn-primary show-loader btn-small show-submit-loader" data-loading-text="{{ 'global.creating' | trans }}"><i class="icon-hdd icon-small"></i> {{ 'global.create' | trans }}</button>
        </div>
        
        <hr class="clear" />
        
    </form>
{% endblock %}
