{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('content-group') }}">Content groups</a></li> <span class="divider">/</span>
    <li class="active">Show group - <i>{{ truncate(entity.description | striptags | raw, 40) }}</i></a>
{% endblock %} 
        
{% block javascripts_bottom %}
    <script src="{{ asset('js/catms.popover.js') }}"></script>
{% endblock %}         
        
{% block content %}
    <legend><i>{{ entity.description | striptags | raw }}</i> content group</legend>

    <div class="btns-up">
        <a href="{{ path('content-group') }}" class="btn btn-small"><i class="icon-list"></i> Back to the list</a>
        <a href="{{ path('content-group-edit', { 'id': entity.id }) }}"class="btn btn-small"><i class="icon-edit"></i> Edit</a>
        <a href="{{ path('content-manager-new', { 'group': entity.slug }) }}"class="btn btn-primary btn-small"><i class="icon-font"></i> Add content</a>
        
        <form action="{{ path('content-group-delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-small btn-warning remove-this-form"><i class="icon-trash"></i> Delete</button>
        </form>
    </div>
    
    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th width=100>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description | striptags | raw }}</td>
            </tr>
            <tr>
                <th>Is removable?</th>
                <td>
                    {% if entity.isRemovable == '777' %}<span class="label label-success"><i class="icon-ok-circle"></i> YES</span>
                    {% elseif entity.isRemovable == '755' %}<span class="label label-warning"><i class="icon-warning-sign"> Only by Developer</span>
                    {% elseif entity.isRemovable == '00' %}<span class="label label-error"><i class="icon-remove-circle">Forbidden</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Records</th>
                <td><span class="label">{{ entity.contents | length }}</span></td>
            </tr>
            <tr>
                <th>Manual</th>
                <td>{% if entity.manual  %}{{ entity.manual | raw }}{% else %}<span class="label label-warning">NO</span>{% endif %}</td>
            <tr>
            <tr>
                <th>Fields</th>
                <td>
                    <ul>
                        <li>
                            {{ entity.contentFields.fieldDescriptionLabel }}
                        </li>
                        <li>
                            {{ entity.contentFields.fieldFullTextLabel }}
                        </li>
                        {% if entity.contentFields.hasTitle %}
                        <li>
                            {{ entity.contentFields.fieldTitleLabel }}
                        </li>
                        {% endif %}
                        {% if entity.contentFields.hasShortText %}
                        <li>
                            {{ entity.contentFields.fieldShortTextLabel }}
                        </li>
                        {% endif %}                          
                    </ul>
                </td>
                
            </tr>
        </tbody>
    </table>

    
    <div class="btns-bottom">
        <a href="{{ path('content-group') }}" class="btn btn-small"><i class="icon-list"></i> Back to the list</a>
        <a href="{{ path('content-group-edit', { 'id': entity.id }) }}"class="btn btn-small"><i class="icon-edit"></i> Edit</a>
        <a href="{{ path('content-manager-new', { 'group': entity.slug }) }}"class="btn btn-primary btn-small"><i class="icon-font"></i> Add content</a>
        
        <form action="{{ path('content-group-delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" class="btn btn-small btn-warning remove-this-form"><i class="icon-trash"></i> Delete</button>
        </form>
    </div>
    
{% endblock %}
