{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('content-group') }}">Content groups</a></li> <span class="divider">/</span>
    <li class="active">Show group - <i>{{ truncate(entity.description | striptags | raw, 40) }}</i></a>
{% endblock %} 
        
{% block content %}
    <legend><i>{{ entity.description | striptags | raw }}</i> content group</legend>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th width=100>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description | striptags | raw }}</td>
            </tr>
            <tr>
                <th>Records</th>
                <td><span class="label">{{ entity.contents | length }}</span></td>
            </tr>
            <tr>
                <th>Manual</th>
                <td>{% if entity.manual  %}{{ entity.manual | raw }}{% else %}<span class="label label-warning">NO</span>{% endif %}</td>
            <tr>
        </tbody>
    </table>

    
    <div class="btn-group" style="margin-bottom: 10px">
        <a href="{{ path('content-group') }}" class="btn"><i class="icon-list"></i> Back to the list</a>
        <a href="{{ path('content-group-edit', { 'id': entity.id }) }}"class="btn"><i class="icon-edit"></i> Edit</a>
        <a href="{{ path('content-manager-new', { 'group': entity.slug }) }}"class="btn btn-primary"><i class="icon-pencil"></i> Add content</a>
    </div>
    
    <form action="{{ path('content-group-delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" class="btn" data-toggle="modal" data-target="#delete"><i class="icon-trash"></i> Delete</button>
        {% include 'CatMSAdminBundle:Helpers:modal.html.twig' with {'id': 'delete', 'msg': 'Delete content group', 'btnTxt': 'Delete'} %}
    </form>

{% endblock %}
