<div id="kontakt">
    <h3><strong>KONTAKT</strong></h3>

    <ul>
        <li class="web"><a href="mailto:karol@cary.pl">{{ get_setting('contact-mailer-address') }}</a></li>
        <li class="phone">{{ get_setting('contact-phone') }}</li>
    </ul>

    <div class="form">
        <form method="post" action="{{ path('mailer') }}">
            <textarea placeholder="Tutaj wpisz wiadomość"></textarea>
            <input type="text" placeholder="Adres e-mail lub telefon" />
            <input type="text" placeholder="Twoje imię i nazwisko" />
            <input type="submit" />
        </form>
        <img src="{{ asset('cary/img/qr.png') }}" />
    </div>

    <h5><span>Dziękuję</span> za wizytę!</h5>

    {{ get_content('contact-content-1', 'fullText') | raw }}

    {{ get_content('contact-content-2', 'fullText') | raw }}

</div>