<div id="projects">
    <h3><strong>REALIZACJE</strong> / SAMPLE</h3>

    <div class="projects">
        <div id="nav-top">
            <a href="#" class="prev">Poprzednie</a>
        </div>

        <div id="middle">
            <div class="part">
                <div>
                    <img src="{{ asset('cary/img/p-1.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Hosting.wp.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Symetria.pl</i>
                    </span>
                </div>
                <div>
                    <img src="{{ asset('cary/img/p-2.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Domeny.allegro.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Allegro.pl</i>
                    </span>
                </div>
                <div>
                    <img src="{{ asset('cary/img/p-3.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Hosting.wp.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Symetria.pl</i>
                    </span>
                </div>
            </div>

            <div class="part">
                <div>
                    <img src="{{ asset('cary/img/p-1.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Hosting.wp.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Symetria.pl</i>
                    </span>
                </div>
                <div>
                    <img src="{{ asset('cary/img/p-2.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Domeny.allegro.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Allegro.pl</i>
                    </span>
                </div>
                <div>
                    <img src="{{ asset('cary/img/p-3.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Hosting.wp.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Symetria.pl</i>
                    </span>
                </div>
            </div>

            <div class="part">
                <div>
                    <img src="{{ asset('cary/img/p-1.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Hosting.wp.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Symetria.pl</i>
                    </span>
                </div>
                <div>
                    <img src="{{ asset('cary/img/p-2.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Domeny.allegro.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Allegro.pl</i>
                    </span>
                </div>
                <div>
                    <img src="{{ asset('cary/img/p-3.png') }}" alt="{{ asset('cary/img/p-detail.png') }}" />
                    <span>
                        <em class="title">Hosting.wp.pl</em>
                        <i class="lead">UX & Web design</i>
                        <i class="createdFor">Dla Symetria.pl</i>
                    </span>
                </div>
            </div>
        </div>

        <div id="nav-bottom">
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
            <a href="#" class="next">Następne</a>
        </div>
    </div>

</div>