<div id="projects">
    <h3><strong>REALIZACJE</strong> / SAMPLE</h3>

    <div class="projects">
        <div id="nav-top">
            <a href="#" class="prev">Poprzednie</a>
        </div>

        <div id="middle">
            <div class="part">
                <div>
                    <img src="{{  asset('cary/img/p-1.png') }}" alt="" />
                    <span><em>Hosting.wp.pl</em>UX & Web design</span>
                </div>
                <div>
                    <img src="{{  asset('cary/img/p-2.png') }}" alt="" />
                    <span><em>Domeny.allegro.pl</em>UX & Web design</span>
                </div>
                <div>
                    <img src="{{  asset('cary/img/p-3.png') }}" alt="" />
                    <span><em>Imas.pl</em>UX & Web design</span>
                </div>
            </div>

            <div class="part">
                <div>
                    <img src="{{  asset('cary/img/p-1.png') }}" alt="" />
                    <span><em>Hosting.wp.pl</em>UX & Web design</span>
                </div>
                <div>
                    <img src="{{  asset('cary/img/p-2.png') }}" alt="" />
                    <span><em>Domeny.allegro.pl</em>UX & Web design</span>
                </div>
                <div>
                    <img src="{{  asset('cary/img/p-3.png') }}" alt="" />
                    <span><em>Imas.pl</em>UX & Web design</span>
                </div>
            </div>

            <div class="part">
                <div>
                    <img src="{{  asset('cary/img/p-1.png') }}" alt="" />
                    <span><em>Hosting.wp.pl</em>UX & Web design</span>
                </div>
                <div>
                    <img src="{{  asset('cary/img/p-2.png') }}" alt="" />
                    <span><em>Domeny.allegro.pl</em>UX & Web design</span>
                </div>
                <div>
                    <img src="{{  asset('cary/img/p-3.png') }}" alt="" />
                    <span><em>Imas.pl</em>UX & Web design</span>
                </div>
            </div>
        </div>

        <div id="nav-bottom">
            <ul>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ul>
            <a href="#" class="next">Następne</a>
        </div>
    </div>

</div>