<div id="projects">
    <h3><strong>REALIZACJE</strong> / SAMPLE</h3>

    <div class="projects">
        <div id="nav-top">
            <a href="javascript:void(0);" class="prev">Poprzednie</a>
        </div>

        <div id="middle">
            {% set projects = get_content_group('projects') %}

            {% for project in projects %}
                {% if loop.index0 is divisibleby(3) %}
                <div class="part">
                {% endif %}
                    <div>
                        {% set image = get_image(project.slug) %}
                        <img src="{{ asset('/uploads/media-library/thmb_')~image.path }}" alt="{{ asset('/uploads/media-library/')~image.path }}" />
                        <span>
                            <em class="title">{{ project.title | striptags | raw }}</em>
                            <i class="lead">{{ project.fullText | striptags | raw }}</i>
                            <i class="createdFor">{{ project.shortText | striptags | raw }}</i>
                        </span>
                    </div>
                {% if loop.index0 is divisibleby(3) %}
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div id="nav-bottom">
            <ul>
                {% set pagesCount = ceil((projects | length) / 3) %}
                {% for i in 1..pagesCount %}
                    <li{% if i == 1 %} class="active"{% endif %}><a href="javascript:void(0);">{{ i }}</a></li>
                {% endfor %}
            </ul>
            <a href="javascript:void(0);" class="next">Następne</a>
        </div>
    </div>

</div>