<div>
    {% for item in pagination %}
        <h3>{{ item.title }}</h3>
        <div>
            {{ item.shortText | raw }}
                {% set path = get_image(item.slug, 'path') %}
                {% if path %}
                    <img src="{{ asset('uploads/media-library/thmb_'~path) }}" />
                {% endif %}
                <a href="{{ path('hosp-events-lead-page-details', {'slug': slug, 'contentSlug': item.slug }) }}">Czytaj więcej...</a>
        </div>
    {% endfor %}

    {% if pagination and pagination.totalItemCount > get_setting('events-records-list-page') and pagination.currentPageNumber == 1 %}
        <a href="{{ path('hosp-events-page', {'page': 2, 'slug': slug}) }}">Zobacz archiwum</a>
    {% elseif pagination %}
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endif %}
        
    {% if (not pagination or (pagination and pagination.totalItemCount == 0)) and currentPage > 1 %}
        <span>Brak wpisów archiwalnych</span>
    {% endif %}
</div>