<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wiadomość ze strony NZOZ</title>
</head>
<body>
    <div style="background-color: #000">
    </div>
    <h3>{{ subject }}</h3>
    <p>
        {{ content }}
    </p>
    <p>
        <h3>Nadawca:</h3>
        {{ name }}<br />
        {{ phone }}<br />
        {{ email }}<br />
    </p>
        
    <hr />
    <p style="color: #999">
    <i>{{ 'mailer.regards' | trans | raw }}</i>
    </p>
</body>
</html>