{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ 'assetGroup.title' | trans }}</a>
{% endblock %} 

{% block content -%}
    <legend><i class="icon-large icon-more-windows"></i> {{ 'assetGroup.list' | trans }}</legend>

    {% if pagination | length > 0 %}
    
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th width=40>{{ knp_pagination_sortable(pagination, 'ID', 'ig.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Slug', 'ig.slug') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'global.description' | trans , 'ig.description') }}</th>
                <th width=120>{{ 'global.width' | trans }} [px]</th>
                <th width=125>{{ 'global.height' | trans }} [px]</th>
                <th width=90>{{ 'assetGroup.imageCount' | trans }}</th>
                <th width=120>{{ 'assetGroup.imageHasThumnails' | trans }}</th>
                <th width=80>{{ 'global.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td><a href="{{ path('image-group-show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.imageWidth is not empty %}{{ entity.imageWidth }}{% else %}<span class="label ">{{ 'global.notDefined' | trans }}</span>{% endif %}</td>
                <td>{% if entity.imageHeight is not empty %}{{ entity.imageHeight }}{% else %}<span class="label ">{{ 'global.notDefined' | trans }}</span>{% endif %}</td>
                <td><span class="badge">{{ entity.images | length }}</span></td>
                <td>{% if entity.hasThumbnails %}<span class="label label-success">{{ 'global.yes' | trans }}</span>{% else %}<span class="label">{{ 'global.no' | trans }}</span>{% endif %}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn">{{ 'global.action' | trans }}</button>
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('image-group-show', { 'id': entity.id }) }}"><i class="icon-fullscreen"></i> {{ 'global.show' | trans }}</a>
                            </li>
                            {% if is_granted('ROLE_DEVELOPER') %}
                            <li>
                                <a href="{{ path('image-group-edit', { 'id': entity.id }) }}"><i class="icon-edit"></i> {{ 'global.edit' | trans }}</a>
                            </li>
                            {% endif %}
                            <li>
                                <a href="{{ path('media-library-group-grid-list', {'group': entity.id}) }}"><i class="icon-list"></i> {{ 'asset.list' | trans }}</a>
                            </li>
                            <li>
                                <li><a href="{{ path('media-library-upload', {'group': entity.slug}) }}"><i class="icon-upload"></i> {{ 'global.upload' | trans }}</a></li>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% else %}
    <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ 'global.emptyDatabase' | trans | raw }}
    </div>
    {% endif %}
    
    <a href="{{ path('image-group-new') }}" class="btn btn-small btn-primary"><i class="icon-pencil"></i> 
        {{ 'global.createGroup' | trans }}
    </a>
    
    {% endblock %}
