{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('image-group') }}">{{ 'assetGroup.title' | trans }}</a></li> <span class="divider">/</span>
    <li class="active">{{ 'global.group' | trans }} <i>{{ truncate(entity.description | striptags | raw, 40) }}</i></a>
{% endblock %} 
        
{% block content %}
    <legend><i class="icon-large icon-picture"></i> {{ 'global.group' | trans }} <i>{{ entity.description | striptags | raw }}</i></legend>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th width=140>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>{{ 'global.description' | trans }}</th>
                <td>{{ entity.description | striptags | raw }}</td>
            </tr>
            <tr>
                <th>{{ 'assetGroup.imageWidth' | trans }}</th>
                <td>{% if entity.imageWidth is not empty %}{{ entity.imageWidth }} px{% else %}<span class="label ">NOT DEFINED</span>{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'assetGroup.imageHeight' | trans }}</th>
                <td>{% if entity.imageHeight is not empty %}{{ entity.imageHeight }} px{% else %}<span class="label ">NOT DEFINED</span>{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'assetGroup.imageHasThumnails' | trans }}</th>
                <td>{% if entity.hasThumbnails %}<span class="label label-success">{{ 'global.yes' | trans }}</span>{% else %}<span class="label label-warning">{{ 'global.no' | trans }}</span>{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'assetGroup.thumbnailWidth' | trans }}</th>
                <td>{% if entity.thumbnailWidth is not empty %}{{ entity.thumbnailWidth }}px{% else %}<span class="label ">{{ 'global.notDefined' | trans }}</span>{% endif %}</td>
            </tr>
            <tr>
                <th>{{ 'assetGroup.thumbnailHeight' | trans }}</th>
                <td>{% if entity.thumbnailHeight is not empty %}{{ entity.thumbnailHeight }}px{% else %}<span class="label ">{{ 'global.notDefined' | trans }}</span>{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-bottom: 10px; float: left;">
        <a href="{{ path('image-group') }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
        <a href="{{ path('image-group-edit', { 'id': entity.id }) }}"class="btn btn-small"><i class="icon-edit"></i> {{ 'global.edit' | trans }}</a>
        <a href="{{ path('media-library-upload', { 'group': entity.slug }) }}"class="btn btn-primary btn-small"><i class="icon-picture"></i> {{ 'global.addAsset' | trans }}</a>
    </div>

    <form action="{{ path('image-group-delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button style="float: right;" type="submit" data-view="left" class="btn btn-small btn-warning remove-this"><i class="icon-trash"></i> {{ 'global.delete' | trans }}</button>
    </form>

{% endblock %}
