{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path('image-group') }}">Image Groups</a></li> <span class="divider">/</span>
    <li class="active">Show group {{ truncate(entity.description | striptags | raw, 40) }}</a>
{% endblock %} 
        
{% block content %}
    <legend><i class="icon-large icon-picture"></i> Group <i>{{ entity.description | striptags | raw }}</i></legend>

    <table class="table table-striped table-hover table-bordered">
        <tbody>
            <tr>
                <th width=140>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description | striptags | raw }}</td>
            </tr>
            <tr>
                <th>Image width</th>
                <td>{% if entity.imageWidth is not empty %}{{ entity.imageWidth }} px{% else %}<span class="label ">NOT DEFINED</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Image height</th>
                <td>{% if entity.imageHeight is not empty %}{{ entity.imageHeight }} px{% else %}<span class="label ">NOT DEFINED</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Has Thumbnails?</th>
                <td>{% if entity.hasThumbnails %}<span class="label label-success">YES</span>{% else %}<span class="label label-warning">NO</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Thumbnail width</th>
                <td>{% if entity.thumbnailWidth is not empty %}{{ entity.thumbnailWidth }}px{% else %}<span class="label ">NOT DEFINED</span>{% endif %}</td>
            </tr>
            <tr>
                <th>Thumbnail height</th>
                <td>{% if entity.thumbnailHeight is not empty %}{{ entity.thumbnailHeight }}px{% else %}<span class="label ">NOT DEFINED</span>{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-bottom: 10px; float: left;">
        <a href="{{ path('image-group') }}" class="btn btn-small"><i class="icon-list"></i> Back to the list</a>
        <a href="{{ path('image-group-edit', { 'id': entity.id }) }}"class="btn btn-small"><i class="icon-edit"></i> Edit</a>
        <a href="{{ path('media-library-upload', { 'group': entity.slug }) }}"class="btn btn-primary btn-small"><i class="icon-picture"></i> Add asset</a>
    </div>

    <form action="{{ path('image-group-delete', { 'id': entity.id }) }}" method="post">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button style="float: right;" type="submit" data-view="left" class="btn btn-small btn-warning remove-this"><i class="icon-trash"></i> Delete</button>
    </form>

{% endblock %}
