{% set  locale = app.session.get('_locale') | default('pl') %}
{% set seoObj = get_seo(pageName, 'all', locale) %}
{% if seoObj %}
    {% set pageTitle = seoObj.pageTitle %}
    {% set metaDescription = seoObj.metaDescription %}
    {% set metaKeywords = seoObj.metaKeywords %}
{% endif %}

<title>{{ get_seo('default-prefix', 'title') }}{% if seoObj %} :: {% endif %}{{ pageTitle | default('') }}</title>
<meta name="description" content="{{ get_seo('default-prefix', 'description') }} {{ metaDescription | default('')}}">
<meta name="keywords" content="{{ get_seo('default-prefix', 'keywords') }} {{ metaKeywords| default('') }}">


