<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% block seo %}{% endblock %}

    <link rel="stylesheet" href="{{  asset('cary/css/style.css') }}" />

    <script src="{{ asset('js/vendor/jquery-1.10.2.min.js') }}"></script>
    <script src="{{ asset('js/vendor/jquery.colorbox-min.js') }}"></script>
    <script src="{{ asset('js/vendor/underscore-min.js') }}"></script>
    <script src="{{ asset('js/vendor/backbone-min.js') }}"></script>
    <script src="{{ asset('cary/js/vendor/jquery.easing.1.3.js') }}"></script>
    <script src="{{ asset('cary/js/BaseView.js') }}"></script>
    <script src="{{ asset('cary/js/SliderView.js') }}"></script>
    <script src="{{ asset('cary/js/NavigatedSliderView.js') }}"></script>
    <script src="{{ asset('cary/js/ProjectDetailsView.js') }}"></script>

</head>
<body>

    <a href="javascript:void(0);" class="right">Dalej</a>
    <a href="javascript:void(0);" class="left">Wstecz</a>


    <div class="fixed">
        <div class="wrapper">
            <div id="top">
                <a href="#"><h1>Cary.pl</h1></a>

                <ul id="menu">
                    <li class="active"><a href="#">o mnie</a></li>
                    <li><a href="#">realizacje</a></li>
                    <li><a href="#">referencje</a></li>
                    <li><a href="#">kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrapper">

        {% block content %}{% endblock %}

    </div>


</body>
</html>

