{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    input { width: 500px }
    textarea { width: 500px }
{% endblock %}

{% if (module == 'Panel') %}
    {% set range = 'Panel' %}
    {% set pathname = 'panel-settings' %}
{% else %}
    {% set range = 'Frontend' %}
    {% set pathname = 'frontend-settings' %}
{% endif %}

{% block javascripts_bottom %}
    {% if not is_granted('ROLE_DEVELOPER') %}
    <script>
        $('.checkDeveloper').attr('readonly', 'readonly');
    </script>
    {% endif %}
{% endblock %}
    
{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path(pathname) }}">{{ module }} - {{ 'global.settings' }}</a></li> <span class="divider">/</span>
    <li  class="active"><i>{{ entity.slug | capitalize }}</i></li>
{% endblock %}

{% block content -%}
<div class="setting-edit-view">
    <legend><i class="icon-large icon-settings"></i> <i>{{ entity.slug | capitalize }}</i></legend>

    <form novalidate action="{{ path('settings-update', { 'id': entity.id, 'range': range | lower }) }}" method="post" {{ form_enctype(edit_form) }} class="form-float">
        <input type="hidden" name="_method" value="PUT" />
        {{ form_row(edit_form.slug, {'attr': {'class': 'checkDeveloper'}}) }}
        {% if entity.fieldType == 'checkbox' %}
            <label class="checkbox" style="margin: 15px 0;">
                {{ entity.description }}
                {{ form_widget(edit_form.value) }}
            </label>
        {% elseif  entity.fieldType == 'radio' %}
            <label class="radio" style="margin: 15px 0;">
                {{ entity.description }}
                {{ form_widget(edit_form.value) }}
            </label>
        {% else %}
            {{ form_row(edit_form.value) }}
        {% endif %}
        {{ form_rest(edit_form)}}
        <div class="buttons">
            <a href="{{ path(pathname) }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
            <a href="{{ path('settings-show', { 'id': entity.id, 'range': range | lower  }) }}" class="btn btn-small"><i class="icon-fullscreen"></i> {{ 'global.show' | trans }}</a>
            <button type="submit" class="btn btn-primary btn-small show-loader show-submit-loader" data-loading-text="{{ 'global.saving' | trans }}"><i class="icon-hdd"></i> {{ 'global.save' | trans }}</button>
        </div>
    </form>

    {% if is_granted('ROLE_DEVELOPER') %}
    <form action="{{ path('settings-delete', { 'id': entity.id, 'range': range | lower }) }}" method="post" class="clear" style="margin-top: 15px;">
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(delete_form) }}
        <button type="submit" data-view="top" class="btn btn-small btn-warning remove-this-form"><i class="icon-trash"></i> {{ 'global.delete' | trans }}</button>
    </form>
    {% endif %}
</div>
{% endblock %}
