{% extends 'CatMSAdminBundle::base.html.twig' %}

{% if (module == 'Panel') %}
    {% set range = 'Panel' %}
    {% set title = 'Panel' %}
    {% set pathname = 'panel-settings' %}
{% else %}
    {% set range = 'Frontend' %}
    {% set title = 'Other' %}
    {% set pathname = 'frontend-settings' %}
{% endif %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="active">{{ title }} - {{ 'global.settings' | trans }}</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-settings"></i> {{ title }} - {{ 'global.settings' | trans }}</legend>

    {% if pagination | length > 0 %}
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th width=230>Description</th>
                {% if is_granted('ROLE_DEVELOPER') %}
                <th width=250>{{ knp_pagination_sortable(pagination, 'Slug', 's.slug') }}</th>
                {% endif %}
                <th>{{ knp_pagination_sortable(pagination, 'global.value' | trans , 's.value') }}</th>
                <th width=80>{{ 'global.actions' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            <tr>
                <td>{{ entity.description }}</td>
                {% if is_granted('ROLE_DEVELOPER') %}
                <td>{{ entity.slug }}</td>
                {% endif %}
                <td>
                    {% if (entity.fieldType == 'checkbox') %}
                        {% if entity.value %}<span class="label label-success">{{ 'global.yes' | trans }}</span>{% else %}<span class="label ">{{ 'global.no' | trans }}</span>{% endif %}
                    {% endif %}
                        
                    {% if (entity.value) is empty and entity.fieldType != 'checkbox' %}
                        <span class="label label-warning">{{ 'global.notDefined' | trans }}</span>
                    {% elseif (entity.fieldType != 'checkbox') %}
                        {{ entity.value }}
                    {% endif %}
                </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-small">{{ 'global.action' | trans }}</button>
                        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('settings-show', { 'id': entity.id, 'range': range | lower }) }}"><i class="icon-fullscreen"></i> {{ 'global.show' | trans }}</a>
                            </li>
                            <li>
                                <a href="#" data-target="#modal_{{ loop.index }}" role="button" data-toggle="modal"><i class="icon-edit"></i> {{ 'global.qucikEdit' | trans }}</a>
                            </li>
                            {% if is_granted('ROLE_DEVELOPER') %}
                            <li>
                                <a href="{{ path('settings-edit', { 'id': entity.id, 'range': range | lower }) }}"><i class="icon-edit"></i> {{ 'global.directEdit' | trans }}</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            
            {# Modal Edit Form #}
                <div id="modal_{{ loop.index}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 640px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">{{ 'settings.edit' | trans }} <i>{{ entity.description }}</i></h3>
                    </div>
                    {# Form code #}        
                    <form action="{{ path('settings-update', { 'id': entity.id, 'range': range | lower, 'referencePage': currentPage  }) }}" novalidate method="post" class="form-horizontal">
                        <div class="modal-body">
                            <input type="hidden" name="_method" value="PUT" />        
                            <input type="hidden" name="catms_adminbundle_settingtype[slug]" value="{{ entity.slug }}" />  
                            <input type="hidden" name="catms_adminbundle_settingtype[description]" value="{{ entity.description}}" />
                            <input type="hidden" name="catms_adminbundle_settingtype[fieldType]" value="{{ entity.fieldType}}" />
                            
                            <label {% if entity.fieldType == 'checkbox' %}class="checkbox" {% else %} class="control-label" {% endif%} for="catms_adminbundle_settingtype_value">{{ entity.description }}
                            {{ form_widget(entity.inlineEditForm.value, {'attr': {'class': 'popup-text-input'}}) }}
                            </label>

                            {{ form_row(entity.inlineEditForm._token) }}

                        {# End code #}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-small" data-dismiss="modal" aria-hidden="true">{{ 'global.close'| trans }}</button>
                            <button type="submit" class="btn btn-small btn-primary show-loader" data-loading-text="{{ 'global.saving'| trans }}">{{ 'global.saveChanges'| trans }}</button>
                        </div>
                    </form>
                </div>
            {# End Form#}
            
        {% endfor %}
        </tbody>
    </table>
    
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
    
    {% else %}
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ 'global.emptyDatabase'| trans | raw }}
        </div>
    {% endif %}
    
    {% if is_granted('ROLE_DEVELOPER') %}
    <hr />
    <div>
        <a href="{{ path('settings-new', {'range': range | lower }) }}" class="btn btn-primary btn-small"><i class="icon-pencil"></i> {{ 'settings.createNewSetting'| trans }}</a>
    </div>
    {% endif %}            
    {% endblock %}
