{% extends 'CatMSAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    input { width: 500px }
    textarea { width: 500px }
{% endblock %}

{% if (module == 'Panel') %}
    {% set range = 'Panel' %}
    {% set pathname = 'panel-settings' %}
{% elseif (module == 'Frontend') %}
    {% set range = 'Frontend' %}
    {% set pathname = 'frontend-settings' %}
{% endif %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path(pathname) }}">{{ module }} - {{ 'global.settings' }}</a></li> <span class="divider">/</span>
    <li class="active">{{ 'settings.creatingNewSetting' | trans }}</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-settings"></i> <i>{{ module }}</i> -  {{ 'settings.creatingNewSetting' | trans }}</legend>

    <form novalidate action="{{ path('settings-create', {'range': range | lower }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <a href="{{ path(pathname) }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.backToTheList' | trans }}</a>
        <button type="submit" data-toggle="button" class="btn btn-primary btn-small show-loader show-submit-loader" data-loading-text="{{ 'global.creating' | trans }}"><i class="icon-hdd"></i> {{ 'global.create' | trans }}</button>
    </form>
{% endblock %}
