{% extends 'CatMSAdminBundle::base.html.twig' %}

{% if (module == 'Panel') %}
    {% set range = 'Panel' %}
    {% set pathname = 'panel-settings' %}
{% else %}
    {% set range = 'Frontend' %}
    {% set pathname = 'frontend-settings' %}
{% endif %}

{% block breadcrumb %}
    {{ parent() }}
    <li><a href="{{ path(pathname) }}">{{ module }} settings</a></li> <span class="divider">/</span>
    <li  class="active">{{ entity.slug }} setting</li>
{% endblock %}
    
{% block content -%}
    <legend><i class="icon-large icon-settings"></i> <i>{{ entity.description }}</i> setting</legend>

    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <th style="width: 120px;">Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ entity.value }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-bottom: 10px">
        <a href="{{ path(pathname) }}" class="btn btn-small"><i class="icon-list"></i> Back to the list</a>
        <a href="{{ path('settings-edit', { 'id': entity.id, 'range': range | lower }) }}" class="btn btn-small btn-primary"><i class="icon-edit"></i> Edit</a>
        
        <form action="{{ path('settings-delete', { 'id': entity.id, 'range': range | lower }) }}" method="post" style="float: right;">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit" data-view="top" class="btn btn-small btn-warning remove-this"><i class="icon-trash"></i> Delete</button>
        </form>
    </div> 



{% endblock %}
