<div class="btns-{{ position }}">
    <a href="{{ path('content-manager-list', {'page': 1, 'slug': entity.contentGroup.slug }) }}" class="btn btn-small"><i class="icon-list"></i> {{ 'global.contentList' | trans }}</a>        
    <a href="{{ path('content-group-edit', {'id': entity.contentGroup.id}) }}" class="btn btn-small"><i class="icon-tags"></i> {{ 'contentManager.editGroup' | trans }}</a>    
    <button type="submit" class="btn btn-primary btn-small show-submit-loader show-btn-loader" data-loading-text="Loading..."><i class="icon-hdd"></i> {{ 'global.save' | trans }}</button>
</div>

{% if is_granted('ROLE_DEVELOPER') %}
    {% include 'CatMSAdminBundle:Helpers:sampleContent.html.twig' %}
{% endif %}
